*.class

# Exclude ant build dir
dist/

# Package Files #
*.jar
*.war
*.ear

# Re-include library files
!lib/*.jar

#################
## NetBeans
#################
nbproject/

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.class
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath