*.class

# Package Files #
*.jar
*.war
*.ear

#################
## NetBeans
#################
nbproject/

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.class
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath